<% #This will remove the site side search box from the repo landing page %>
<style>
.navbar-search.navbar.navbar-light.bg-light{
display:none !important;
}
</style>
<%#This will create a search box for a repo landing page %>

  <form class="search-query-form pr-0" role="search" action="http://arclight.senylrc.org/search/catalog" accept-charset="UTF-8" method="get">
  <input type="hidden" id="f[repository_sim][]" name="f[repository_sim][]" value="<%= @repository.name %>">   
  <div class="d-md-flex">

      <label for="search_field" class="sr-only">Search in</label>
    <div class="input-group flex-nowrap">
          <select name="search_field" id="search_field" title="Targeted search options" class="custom-select search-field"><option value="all_fields">All Fields</option>
<option value="keyword">Keyword</option>
<option value="name">Name</option>
<option value="place">Place</option>
<option value="subject">Subject</option>
<option value="title">Title</option></select>

      <label for="q" class="sr-only">search for</label>
      <input type="text" name="q" id="q" placeholder="Search..." class="search-q q rounded-0 form-control" />
      <span class="input-group-append">
        <button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text d-none d-lg-inline">Search</span>
          <span class="blacklight-icons blacklight-icon-search" aria-hidden="true"><?xml version="1.0"?>
<svg width="24" height="24" viewBox="0 0 24 24" aria-label="Search" role="img">
  <title>Search</title>
  <path fill="none" d="M0 0h24v24H0V0z"/>
  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
</svg>
</span>
        </button>
      </span>
    </div>
  </div>
</form>



<% @page_title = t(:'arclight.views.repositories.show', name: @repository.name) %>
<%= render 'shared/breadcrumbs' %>
<%= render @repository %>
<div class="row al-repository-show-header">
  <div class="col col-md-8 col-lg-9">
    <h2 class="h4">
      <%= t('arclight.views.show.our_collections') %>
    </h2>
  </div>
  <div class="col text-right">
    <span class="al-repository-collections">
<style>.viewall-text a{color:#fff;}</style>
<span class="viewall-text d-none d-lg-inline">
<button class="btn btn-primary search-btn" id="search">
<%= link_to(t(:'arclight.views.repositories.view_all_collections'), repository_collections_path(@repository)) %>
    </button></span>
    </span>
  </div>
</div>

<div class="row">
  <% @collections.each do |document| %>
    <div class="col-md-12">
      <div class='al-document-title-bar'>
        <div class='row'>
          <div class='col-md-10 col-lg-9'>
            <h3 class="h5"><%= link_to document.normalized_title, solr_document_path(document.id) %></h3>
            <%= content_tag('div', class: 'al-document-abstract-or-scope') do %>
              <%= content_tag('div', 'data-arclight-truncate' => true) do %>
                <%= document.abstract_or_scope %>
              <% end %>
            <% end if document.abstract_or_scope %>
          </div>
          <% if document.unitid %>
            <div class='col text-right al-collection-id'>
              <%= t(:'arclight.views.show.collection_id', id: document.unitid) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
